*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #c8bdbd6a;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img_1{
    height: 74%;
    width: 28%;
    position: relative;
    top: 3%;
    z-index: 10;
    object-fit: cover;
    filter: brightness(70%);
}
.text_1{
    position: absolute;
    top: 28%;
    left: 0%;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;   
}
.text_1 h1{
    display: inline-block;
    font-size: 7em;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    margin-right: 30px;
    animation-name:slide ;
    animation-duration: 1s;
     animation-timing-function: linear;
    animation-iteration-count: infinite;
   
}
.text_1::-webkit-scrollbar{
    display: none;
}
.text_2{
    position: absolute;
    top: 44%;
    left: 0%;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;  
    z-index: 11; 
}
.text_2 h1{
    display: inline-block;
    font-size: 7em;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    margin-right: 30px;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;
    color: transparent;
       animation-name:slide ;
    animation-duration: 1s;
     animation-timing-function: linear;
    animation-iteration-count: infinite;
   animation-direction: reverse;
}
.text_2::-webkit-scrollbar{
    display: none;
}
.text_3{
    position: absolute;
    top: 60%;
    left: 0%;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;   
}
.text_3 h1{
    display: inline-block;
    font-size: 7em;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    margin-right: 32px;
       animation-name:slide ;
    animation-duration: 1.5s;
     animation-timing-function: linear;
    animation-iteration-count: infinite;
   
}
.text_3::-webkit-scrollbar{
    display: none;
}
#para{
    position: absolute;
    top: 5%;
    /* background-color: red; */
    width:35%;
    font-size: 2em;
    font-weight: 800;
    line-height: 32px;
    z-index: 12;
    text-align: center;
}
@keyframes slide {
    0%{
transform: translateX(calc(-100% - 35px));
    }
    100%{
transform: translateX(0);
    }
    
}